.circular-menu {
  height: 144px;
  position: relative;
  width: 144px;
}

.menu-button,
.menu-item {
  left: 0;
  position: absolute;
  top: 0;
}

.menu-button {
  background-color: black;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.menu-item {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
